each post in postArr
  div.post-preview-container
    .post-image-cont(style="background-color:#{post.color};")
      .post-image
    .text-container
      h4=post.title
      p=post.dcr
      .action-buttons
        a(href=post.path) writeup
        if post.type === 'web'
          a(href=post.links.app) app
